body{
    font-family: Arial, "Times New Roman";
    font-size: 12px;
}
#main{
    width: 1000px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;

}
#header{
    height: 100px;
    border: 1px solid black;
    margin: 5px;
}
#header-link{
    height: 40px;
    border: 1px solid black;
    margin: 5px;
    clear: both;
}
#content{
    clear: both;
    width: 58%;
    height: 400px;
    float: left;
    margin-left:5px ;
    padding-top: 5px ;
}

#content-left-above{
    width: 100%;
    min-height: 48%;
    border: 1px solid black;
    float: left;
    margin-bottom: 5px;
}
#content-left-below{
    width: 100%;
    min-height: 49%;
    border: 1px solid black;
    margin-top: 5px;
    float: left;
}
#content-right{
    width: 40%;
    min-height: 400px;
    border: 1px solid black;
    float: right;
    margin: 5px;

}
#footer{
    min-height: 100px;
    border: 1px solid black;
    clear: both;
    margin: 5px;
}